services:
  - type: web
    runtime: python
    name: my-helper-bot
    plan: free
    buildCommand: pip install -r requirements-render.txt
    startCommand: python bot_replit.py
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: GROQ_API_KEY
        sync: false
      - key: DATABASE_URL
        sync: false
